<header class="d-flex flex-start flex-row align-items-center justify-content-between">
  <button  mat-icon-button (click)="toggleSidebar()">
    <mat-icon class="hamburger">menu</mat-icon>
  </button>

  <a class="navbar-brand d-flex justify-content-center" routerLink="/" href="/html/unloggedPages/index.html"> <img src="./assets/images/MicrosoftTeams-image.png" alt='logoAligned' class="logo-header" /></a>


  <button  mat-icon-button>
    <mat-icon class="notifications">notifications</mat-icon>
  </button>
</header>
