<html>

<body>
  <div id="login_field">
    <div id="img_container">
      <img src="assets/Logo_form_dev.png" alt="logo form dev">
    </div>
    <div id="minor_login_field">
      <div id="login_container">
        <input class="input" type="text" name="" id="login_input" placeholder="Identifiant">
        <input class="input" type="password" name="" id="pwd_input" placeholder="Mot de passe">
      </div>
      <button type="submit" id="submit_button" (click)="onSubmitConnection()">Connexion</button>
    </div>
  </div>
</body>

</html>
