<div class="container my-5">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          [excludeDays]="excludeDays"
        >
          Previous
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>
        {{ viewDate | calendarDate:(view +
        'ViewTitle'):'en':weekStartsOn:excludeDays }}
      </h3>
    </div>
    <div
      class="btn btn-primary"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      [excludeDays]="excludeDays"
    >
      Next
    </div>
    <br/>
    <div
      class="btn btn-outline-secondary col-4"
      mwlCalendarToday
      [(viewDate)]="viewDate"
    >
      Today
    </div>
    <br/>
    <div class="col-md-12 mt-5">

      <mwl-calendar-day-view
        [viewDate]="viewDate"
        [dayStartHour]="dayStartHour"
        [dayEndHour]="dayEndHour"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</div>
