
<div class="container my-3">
  <div
    class="btn btn-outline-secondary align-right"
    mwlCalendarToday
    [(viewDate)]="viewDate"
  >
    Today
  </div>
  <div class="row text-center my-3">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          [excludeDays]="excludeDays"
        >
          Previous
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>
        {{ viewDate | calendarDate:(view +
        'ViewTitle'):'en':weekStartsOn:excludeDays }}
      </h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          [excludeDays]="excludeDays"
        >
          Next
        </div>
      </div>
    </div>

    <br/>

    <div class="col-md-12 my-5">

    <mwl-calendar-day-view
      [viewDate]="viewDate"
      [events]="events"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"
    >
    </mwl-calendar-day-view>
  </div>
  </div>
</div>
