.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, p {
    margin: 0;
}

#pad {
    #class-info-container {
        margin-bottom: 1rem;
        align-self: flex-start;

        h1 {
            color: rgb(25, 130, 216);
        }

        p {
            color: grey;
        }
    }

    #sign-container {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 1rem 0;
        border-radius: 5px;
        box-shadow: #0000003d 2px 2px 8px;

        h2 {
            margin: 0.5rem 0;
        }

        #signature-pad {
            background: none;
        }

        ::ng-deep .signature-pad-canvas {
            border: none !important;
        }

        #erase-btn {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        p {
            color: grey;
            margin: 0.5rem 0;
        }
    }
}

#complete {
    height: 525px;
    justify-content: center;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        padding: 0.5rem 0;
        border-top: 2px solid rgb(25, 130, 216);
        border-bottom: 2px solid rgb(25, 130, 216);

        h1, h2 {
            color: rgb(25, 130, 216);
        }

        p {
            color: grey;
            margin-bottom: 0.5rem;
        }
    }

    img {
        margin-top: 1rem;
        width: 50%;
    }
}