.false-icon {
    color: red;
}

.true-icon {
    color: #54b300;
}

.signature-td {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;

    img {
        height: 65px;
    }
}